{
{% if docker_enable_nvidia_runtime %}
 "runtimes": {
      "nvidia": {
          "args": [],
          "path": "nvidia-container-runtime"
      }
  }
{% endif %}

  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_logs_max_size }}",
    "max-file": "{{ docker_logs_max_files }}"
  }
}