RUN_AS_USER root

MONITOR {{ ups_name }}@{{ hostvars[ups_server]['ansible_hostname'] }} 1 observer {{ ups_observer_password | mandatory }} slave
POWERDOWNFLAG /etc/killpower
FINALDELAY {{ ups_shutdown_delay_seconds }}
SHUTDOWNCMD "{{ ups_shutdown_command }}"
NOTIFYCMD "/usr/local/bin/ups-notify.sh"

POLLFREQ {{ ups_poll_frequency }}
POLLFREQALERT {{ ups_alert_poll_frequency }}
NOCOMMWARNTIME {{ ups_communication_list_repeat_time }}

NOTIFYFLAG ONLINE   SYSLOG+WALL+EXEC
NOTIFYFLAG ONBATT   SYSLOG+WALL+EXEC
NOTIFYFLAG LOWBATT  SYSLOG+WALL+EXEC
NOTIFYFLAG FSD  SYSLOG+WALL+EXEC
NOTIFYFLAG COMMOK   SYSLOG+WALL+EXEC
NOTIFYFLAG COMMBAD  SYSLOG+WALL+EXEC
NOTIFYFLAG SHUTDOWN SYSLOG+WALL+EXEC
NOTIFYFLAG REPLBATT SYSLOG+WALL+EXEC
NOTIFYFLAG NOCOMM   SYSLOG+WALL+EXEC
NOTIFYFLAG NOPARENT SYSLOG+WALL