MONITOR {{ ups_name }}@{{ hostvars[ups_server]['ansible_hostname'] }} 1 {{ ansible_hostname }} {{ ups_slave_password | mandatory }} slave
POWERDOWNFLAG /etc/killpower
FINALDELAY {{ ups_shutdown_delay_seconds }}
SHUTDOWNCMD "/sbin/shutdown -h now"